.img__width {
  border-radius: 0.5em;
  width: 100%;
  aspect-ratio: 30/40;
}

.img__cards {
  position: relative;
  width: 100%;
}

.img__position {
  position: absolute;
  top: 0;
  background: #ffffff;
  margin: 0.5em;
  border-radius: 3px;
  padding: 0.4em 0.8em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
  color: #222222;
}

.img__details {
  width: 100%;
}

.rating {
  color: #918e9b;
}

.main__section {
  width: 40%;
}
