.img__flexbox {
  margin-top: 4em;
  display: flex;
  gap: 2em;
  justify-content: center;
  width: 100%;
  /* border: 2px solid red; */
}

.img {
  border-radius: 1em;
  width: 135px;
  /* border: 2px solid green; */
}

.img__first {
  margin-top: 4em;
}

.img__second {
  margin-top: 1em;
}

.img__third {
  margin-top: 3em;
}

.img__fourth {
  margin-top: 0.5em;
}

.img__fifth {
  margin-top: 1.3em;
}
